<div class="header">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-end">
      <div class="col-md-6 col-lg-5">
        <div class="jumbotron">
          <p class="text-dark">New arrival</p>
          <h1>Discover Our</h1>
          <h1>New Collection</h1>
          <p class="text-dark mb-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing
          </p>
          <a class="btn" href="#">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
